.tabs_box{
    position: relative;
    .tabs{
        border-bottom: 1px solid #eee;
        display: -webkit-box;
        display: -webkit-flex;
        display: flex;
    }
    .tabs a{
        line-height: 36px;
        height: 36px;
        -webkit-box-flex: 1;
        -webkit-flex: 1;
        flex: 1;
        text-align: center;
    }
    .tabs a.active{
        color:#e64340;
        border-bottom: 2px solid #e64340;
    }
}
