// .tab{width:100%;overflow:hidden}
// .tab{
//     .tab-nav{width:100%;background-color:#fff;border-bottom:1px solid #eee;display:box;display:-webkit-box;font-size:16px;height:45px;box-sizing:border-box}
//     .tab-content{display:-webkit-box}
//     .tab-content>.tab-item{-webkit-box-flex:1;width:100%;position: relative}
//     .tab-nav li{height:45px;line-height:45px;min-width:70px;box-flex:1;-webkit-box-flex:1;text-align:center;color:#777;box-sizing:border-box;border-bottom:2px solid transparent;width:100%}
//     .tab-nav li.current{color:#f6443a;border-bottom:2px #f6443a solid}
//     .tab-nav li:active{opacity:.8}
// }
.tabs_box{
    .swiper-slide-active{
        overflow-y: auto;
    }
}
