.wx_index{
	background:#fff;
}
.f12{
	font-size:12px;
}
.wx_index .green_btn{
	background-color:#78A705;
}
.wx_index .blue_btn{
	background-color:#0CAFE0;
}
.wx_index .pink_btn{
	background-color:#EA1075;
}
.wx_index .weui-media-box{
	padding:10px;
}
.wx_main_btn{
	padding-top:5px;
}

.wx_main_btn .weui-btn_mini{
	margin:0 8px 0 0;
}
.wx_main_btn .weui-btn:after{
	border:none
}
.wx_index .bulletin{
	font-weight:bold;
	color:red;
}
.index_tabs{
	border-top:1px solid #E8E8E8;
}
.wx_index .ant-tabs-nav .ant-tabs-tab{
	margin:0;
}
.wx_index .ant-tabs-nav .ant-tabs-tab-inner{
	padding: 8px 15px;
}
.wx_index .ant-tabs-ink-bar{
	background-color:red;
}
.wx_index .ant-tabs-nav .ant-tabs-tab-active .ant-tabs-tab-inner{
	color:red;
}