.tabs_box{
overflow: hidden;
}
.event_detail{
    background-color: white;
            height: 100%;
}
.brief_content{
    background-color: white;
}
.brief_area{
    overflow: hidden;
    overflow-y: auto;
    position: relative;
}
.intr_info{
	font-size:26px;
}
.event_detail .am-tabs-bar{
    top: 80px
}
.event_detail .am-tabs-bar .am-tabs-tab-active{
    color: #e64340;
}
.event_detail .am-tabs-ink-bar{
    background-color: #e64340;
}
.event_detail #detailsTxt{
    padding: 20px;
}
.event_detail  .am-tabs-bar{
    position: fixed;
    top: 70px;
    width: 100%;
    z-index: 10;
}
.event_detail .am-tabs-content{
    padding-top: 74px;
    padding-bottom: 80px;
    /*position: relative;*/
}
.event_detail .am-tabs{
    min-height: 100%
}
.notes_detail{
    padding: 15px 15px 100px;
}
